In [21]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pymongo
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.inspection import inspect
from config import username, password, host, port, protocol

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
INFO:WDM:====== WebDriver manager ======
[WDM] - Current google-chrome version is 103.0.5060
INFO:WDM:Current google-chrome version is 103.0.5060
[WDM] - Get LATEST chromedriver version for 103.0.5060 google-chrome
INFO:WDM:Get LATEST chromedriver version for 103.0.5060 google-chrome
[WDM] - About to download new driver from https://chromedriver.storage.googleapis.com/103.0.5060.53/chromedriver_mac64.zip
INFO:WDM:About to download new driver from https://chromedriver.storage.googleapis.com/103.0.5060.53/chromedriver_mac64.zip
[WDM] - Driver has been saved in cache [/Users/ap20/.wdm/drivers/chromedriver/mac64/103.0.5060.53]
INFO:WDM:Driver has been saved in cache [/Users/ap20/.wdm/drivers/chromedriver/mac64/103.0.5060.53]

In [3]:
# URL visit
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
# Splinter
# Latest News Title and Paragraph Text
news_title = browser.find_by_xpath('//*[@id="news"]/div[1]/div/div[2]/div/div[2]').text
news_paragraph = browser.find_by_xpath('//*[@id="news"]/div[1]/div/div[2]/div/div[3]').text

In [4]:
# BeautifulSoup
html = browser.html
soup = bs(html, 'html.parser')

In [5]:
# BeautifulSoup
# Latest News Title and Paragraph Text
news_title = soup.find('div', class_='content_title')
news_p = soup.find('div', class_='article_teaser_body')

print(f'Latest News Title: {news_title.text}')
print('-----------------')
print(f'Paragraph Text: {news_p.text}')

Latest News Title: NASA's MAVEN Maps Winds in the Martian Upper Atmosphere that Mirror the Terrain Below and Gives Clues to Martian Climate
-----------------
Paragraph Text: Researchers have created the first map of wind circulation in the upper atmosphere of a planet besides Earth, using data from NASA’s MAVEN spacecraft that were collected during the last two years.

In [29]:
# Splinter
# Navigating site to find the image URL for current featured Mars img
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [30]:
# Splinter
# Finding full image button
browser.find_by_text(' FULL IMAGE').click()

# Full image
#browser.find_by_css('img.fancybox-image')['src']

# Find xpath, easier
featured_image_url = browser.find_by_xpath('/html/body/div[8]/div/div/div/div/img')['src']

In [ ]:
# Splinter
# Navigating site for tables
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

In [ ]:
# BeautifulSoup
# Table for Earth and Mars Comparison
tables = pd.read_html(url)

two_df = tables[0]
two_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [ ]:
# Clean up
two_df = two_df.rename(columns={0:'Values',
                                    1: 'Mars',
                                        2: 'Earth'})

two_df = two_df.set_index('Values')
two_df

                                    Mars            Earth
Values
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [ ]:
# Table for Mars
mars_df = tables[1]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [ ]:
# Clean up
mars_df = mars_df.rename(columns={0:'Values',
                                    1: 'Mars'})

mars_df = mars_df.set_index('Values')
mars_df

                                               Mars
Values
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [ ]:
# mars_df to HTML
mars_html = mars_df.to_html()
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Values</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
# Clean mars_df HTML table string
mars_html.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>    </tr>    <tr>      <th>Values</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 ( Phobos &amp; Deimos )</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [ ]:
# BeautifulSoup
url = 'https://marshemispheres.com/'
html = browser.html
soup = bs(html, 'html.parser')

In [ ]:
# BeautifulSoup
# Scraping for Title and HREF BeautifulSoup

info = soup.find_all('div', class_='description')

img_href = []
titles_list = []

for item in info:
    single = item.a
    
    href = single['href']
    title = item.h3.text

    img_href.append(href)
    titles_list.append(title)

In [ ]:
print(f'Titles List:{titles_list}')
print('-------------------')
print(f'Img List:{img_href}')

Titles List:['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced']
-------------------
Img List:['cerberus.html', 'schiaparelli.html', 'syrtis.html', 'valles.html']

In [7]:
# Splinter
url = 'https://marshemispheres.com/'
browser.visit(url)

In [8]:
# Splinter
# Scrape for Title and full img href 
full_href = []

for i in range(1,5):
    url_titles = {}

    # Copied the xpath of the clickable <h3> to click for full img and loop through for all four
    xpath = '//*[@id="product-section"]/div[2]/div[' + str(i) + ']/div/a/h3'
    browser.find_by_xpath(xpath).click()

    # Saved copied xpath for full_img and title
    full_img = browser.find_by_xpath('//*[@id="wide-image"]/div/ul/li[1]/a')['href']
    img_title = browser.find_by_xpath('//*[@id="results"]/div[1]/div/div[3]/h2').text
    
    # Create dictionaries
    url_titles['img_url'] = full_img
    url_titles['title'] = img_title

    # Append dictionaries to full_href
    full_href.append(url_titles)

    # Return to previous page for next loop
    browser.back()
    
full_href

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [ ]:
# BeautifulSoup
# Have to put through the parser before being able to navigate
full_href = []

for url in img_href:
    browser.visit(main_url+ url)

    html = browser.html
    
    soup = bs(html, 'html.parser')

    info = soup.find('div', class_='downloads')
    #print(info)
    link = info.li.a
       
    full_jpg = link['href']
    print(full_jpg)

    full_href.append(full_jpg)

    print(full_href)

images/full.jpg
['images/full.jpg']
images/schiaparelli_enhanced-full.jpg
['images/full.jpg', 'images/schiaparelli_enhanced-full.jpg']
images/syrtis_major_enhanced-full.jpg
['images/full.jpg', 'images/schiaparelli_enhanced-full.jpg', 'images/syrtis_major_enhanced-full.jpg']
images/valles_marineris_enhanced-full.jpg
['images/full.jpg', 'images/schiaparelli_enhanced-full.jpg', 'images/syrtis_major_enhanced-full.jpg', 'images/valles_marineris_enhanced-full.jpg']

In [ ]:
# BeautifulSoup
hemisphere_image_urls = {"title":[], 'img_url':[]}

for x in range(4):
    hemisphere_image_urls["title"].append(titles_list[x])
    hemisphere_image_urls["img_url"].append(full_href[x])

In [ ]:
hemisphere_image_urls

{'title': ['Cerberus Hemisphere Enhanced',
  'Schiaparelli Hemisphere Enhanced',
  'Syrtis Major Hemisphere Enhanced',
  'Valles Marineris Hemisphere Enhanced'],
 'img_url': ['images/full.jpg',
  'images/schiaparelli_enhanced-full.jpg',
  'images/syrtis_major_enhanced-full.jpg',
  'images/valles_marineris_enhanced-full.jpg']}

In [33]:
browser.quit()

In [10]:
# URL visit
url = 'https://redplanetscience.com/'

In [26]:
# Full Function


def scrape():
    # Splinter Setup
    executable_path = {'executable_path': ChromeDriverManager().install()}
    browser = Browser('chrome', **executable_path, headless=False)

    # Main Dictionary
    mars_dict = {}

    # URL to visit
    url = 'https://redplanetscience.com/'
    browser.visit(url)

    # Latest News Title and Paragraph Text
    news_title = browser.find_by_xpath('//*[@id="news"]/div[1]/div/div[2]/div/div[2]').text
    news_paragraph = browser.find_by_xpath('//*[@id="news"]/div[1]/div/div[2]/div/div[3]').text

    # Append to dictionary
    mars_dict['News_Title'] = news_title
    mars_dict['News_Paragraph'] = news_paragraph

    # URL for Images
    url = 'https://spaceimages-mars.com/'
    browser.visit(url)

    # Click full image button
    browser.find_by_text(' FULL IMAGE').click()

    # Xpath for Img
    featured_image_url = browser.find_by_xpath('/html/body/div[8]/div/div/div/div/img')['src']

    # Append to dictionary
    mars_dict['Featured_Img_URL'] = featured_image_url

    # URL for tables
    url = 'https://galaxyfacts-mars.com/'

    # Table for Earth and Mars Comparison
    tables = pd.read_html(url)
    two_df = tables[0]
    two_df = two_df.rename(columns={0:'Values',
                                        1: 'Mars',
                                            2: 'Earth'})
    two_df = two_df.set_index('Values')

    # HTML for comparison table
    mars_html = two_df.to_html()
    mars_html = mars_html.replace('\n', '')

    # URL for Mars Hemisphere Imgs and Titles
    url = 'https://marshemispheres.com/'
    browser.visit(url)

    # Scrape for Title and full img href 
    full_href = []

    for i in range(1,5):
        url_titles = {}

        # Copied the xpath of the clickable <h3> to click for full img and loop through for all four
        xpath = '//*[@id="product-section"]/div[2]/div[' + str(i) + ']/div/a/h3'
        browser.find_by_xpath(xpath).click()

        # Saved copied xpath for full_img and title
        full_img = browser.find_by_xpath('//*[@id="wide-image"]/div/ul/li[1]/a')['href']
        img_title = browser.find_by_xpath('//*[@id="results"]/div[1]/div/div[3]/h2').text
    
        # Create dictionaries
        url_titles['img_url'] = full_img
        url_titles['title'] = img_title

        # Append dictionaries to full_href
        full_href.append(url_titles)

        # Return to previous page for next loop
        browser.back()

    # Append to dictionary    
    mars_dict['Full_url_and_title'] = full_href

    browser.quit()

    return mars_dict

In [27]:
# Dictionary
Python_Dict = scrape()

[WDM] - ====== WebDriver manager ======
INFO:WDM:====== WebDriver manager ======
[WDM] - Current google-chrome version is 103.0.5060
INFO:WDM:Current google-chrome version is 103.0.5060
[WDM] - Get LATEST chromedriver version for 103.0.5060 google-chrome
INFO:WDM:Get LATEST chromedriver version for 103.0.5060 google-chrome
[WDM] - Driver [/Users/ap20/.wdm/drivers/chromedriver/mac64/103.0.5060.53/chromedriver] found in cache
INFO:WDM:Driver [/Users/ap20/.wdm/drivers/chromedriver/mac64/103.0.5060.53/chromedriver] found in cache

In [28]:
Python_Dict

{'News_Title': 'Naming a NASA Mars Rover Can Change Your Life',
 'News_Paragraph': 'Want to name the robotic scientist NASA is sending to Mars in 2020? The student who named Curiosity — the rover currently exploring Mars — will tell you this is an opportunity worth taking.',
 'Featured_Img_URL': 'https://spaceimages-mars.com/image/featured/mars2.jpg',
 'Full_url_and_title': [{'img_url': 'https://marshemispheres.com/images/full.jpg',
   'title': 'Cerberus Hemisphere Enhanced'},
  {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
   'title': 'Schiaparelli Hemisphere Enhanced'},
  {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
   'title': 'Syrtis Major Hemisphere Enhanced'},
  {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'}]}

In [ ]:
# All below is unnecessary due to flask connecting MongoDB with scrape_mars.py

In [ ]:
# SQLAlchemy used to connect with PgAdmin
#   
#database_name = 'project_db'
#rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
#engine = create_engine(rds_connection_string)
#inspector = inspect(engine)

In [30]:
# Pymongo is used to connect with MongoDB
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

# Database
mydb = myclient["web_scrape"]

# Collection named "developers"
mycol = mydb["python_dict"]

# Insert a document to the collection
x = mycol.insert_one(Python_Dict)

In [34]:
print("Document inserted with id: ", x.inserted_id)

Document inserted with id:  62ce0d6e543e27e692b84437